<p id="notice"><%= notice %></p>

<h1>Products <span><%= link_to('Add product', new_product_path, class: "btn btn-success pull-right") %></span></h1>

<% if @products.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Shop</th>
        <th>Last run</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.shop.name %></td>
          <td><%= product.prices.last.printable_created_at rescue '' %></td>
          <td><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
