<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>
<h3><%= link_to(@product.name, @product.href) %> | <span><%= @product.shop.name %></span></h3>
<% if @min_price %>
  <h4>Min price till now: <%= @min_price['min_price_value'] %> on <%= @min_price.printable_created_at %></h4>
<% end %>
<div>
  <%= line "line_id", @size, @data %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>On date</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.printable_created_at %></td>
        <td><%= price.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

